body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	font-family: "Courier New";
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 330px;
	margin: 2px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}

.body-right input {
	border-color: #007bff; /* Cambia el color del borde */
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: 10px;
	border-bottom: 10px;
	font-family: "Courier New";
	font-size: small;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(218, 215, 215);
	padding: 5px;
	font-family: "Courier New";
	font-weight: bold;
}
